//=============================//
//         MAIN PAGE 
//=============================//

#main {
    padding: 0 20px;

    h1 {
        text-align: center;
        margin-top: 50px; 
    }

    //=============================//
    //        IMAGE GENERATOR
    //=============================//

    .Generator {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        flex-direction: column;

        .gen-img {
            margin: 20px;

            img {
                width: 100%;
            }
        }

        .gen-btn {
            border: none;
        }
    }

    //=============================//
    //          EMAIL FORMS
    //=============================//
    .forms-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        align-content: center;

        @media (min-width: 588px) {
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
        }

        .get-email, .email-collection { 
            padding: 20px;
            border: 2px solid #000;

            @media (min-width: 1038px){ min-width: 500px;}
        }

        .get-email {
            margin-bottom: 20px;
            @media (min-width: 588px) { margin-bottom: 0px;}
        }

    }

    //=============================//
    //        IMG COLLECTION
    //=============================//
    .img-collection {
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 50px;
        border: 2px solid #000;
    }
}