//=============================//
//           LAYOUT 
//=============================//

.nav-bar {
    color: #fff;
    font-size: 0.8rem;
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: #000;

    @media (min-width: 768px){
        font-size: 1.2rem;
        padding: 20px 40px;
    }


    a {
        color: #fff;
        text-decoration: none;
    }
    
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    span  {
        a {
            &:hover {text-decoration: underline;}
        }
    }
}