//=============================//
//        BASE STYLING
//=============================//

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: Poppins, sans-serif, arial;  
}